!!! 5
%html
  %head
    %title Vahur Roosimaa 
    %style=style
    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'}
    %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Lato:300,400,700'}
  %body
    %header
      %h1.name Vahur Roosimaa
      %h2.headline Ruby on Rails, AngularJS and Android Developer

      %p.contacts
        %a.contact{href: 'http://lnkd.in/dyw9DBy'} 
          %i.fa.fa-linkedin-square.fa-lg
          %span LinkedIn

        %a.contact{href: 'http://github.com/Zanfa'} 
          %i.fa.fa-github.fa-lg
          %span Github

        %a.contact{href: 'http://stackoverflow.com/users/822630/vahur-roosimaa'} 
          %i.fa.fa-stack-overflow.fa-lg
          %span Stack Overflow

        %a.contact{href: 'mailto:vahur.roosimaa@gmail.com'} 
          %i.fa.fa-envelope-o.fa-lg
          %span vahur.roosimaa@gmail.com

    %h2.category Previous Positions
      
    .job 
      %h3.position 
        %span.title Front-end / Android Engineer
        at
        %span.company Scopely
      %p.dates Los Angeles | January 2012 - March 2013 (about 1 year)
      %p.description Started out as the first Android Engineer and launched their first Android title Dice With Buddies on Google Play and later on Amazon Appstore. Dice was recognized by Google as one of the best social games of 2012 and has millions of downloads to date. Also whipped up a Facebook canvas version of Dice With Buddies.
      %hr

    .job
      %h3.position
        %span.title Software Developer
        at
        %span.company Publification.com
      %p.dates Tartu, Estonia | March 2011 - January 2012 (10 months)
      %p.description Responsible for creating a browser-based e-book creation platform with rich text editing and multimedia support. Also worked on the browser-based e-book reader at publification.com as well as backend of both services

    %footer 
      %p
        Generated from 
        %a{href: 'https://github.com/Zanfa/zanfa.github.io'} this repo
    %script{src: '//static.getclicky.com/js'}
    %script try{ clicky.init(100697750); }catch(e){}
