!!! 5
%html
  %head
    %title Vahur Roosimaa
    %style=style
    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'}
    %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Lato:300,400,700'}
  %body
    %header
      %h1.name Vahur Roosimaa
      %h2.headline Full-stack developer from Estonia

      %p.contacts
        %a.contact{href: 'http://lnkd.in/dyw9DBy'}
          %i.fa.fa-linkedin-square.fa-lg
          %span LinkedIn

        %a.contact{href: 'http://github.com/Zanfa'}
          %i.fa.fa-github.fa-lg
          %span Github

        %a.contact{href: 'http://stackoverflow.com/users/822630/vahur-roosimaa'}
          %i.fa.fa-stack-overflow.fa-lg
          %span Stack Overflow

        %a.contact{href: 'mailto:vahur.roosimaa@gmail.com'}
          %i.fa.fa-envelope-o.fa-lg
          %span vahur.roosimaa@gmail.com

    %h2.category Previous Positions

    .job
      %h3.position
        %span.title Android Engineer
        at
        %span.company
          Persona /
          %a{href: 'http://www.socialnative.com'} Social Native
      %p.dates Estonia (Remote) | March 2014 - March 2016 (2 years)
      %p.tech
        %span Android
        %span RxJava
        %span Retrofit
        %span Dagger
        %span Butterknife
        %span Python
        %span Apache Storm
        %span MongoDB
        %span Redis
        %span Elasticsearch
        %span AWS
        %span Java
        %span Go
      %p.description Persona was a new and fun cross-platform app to find out how you really compare to your friends and acquaintances. Initially, I was brought on to rearchitect and build out their Android app. Later on, our tech team was absorbed into Social Native, which is an influencer marketing company, where I built their entire Instagram crawling and data processing pipeline for finding and ranking publishers.
      %hr

    .job
      %h3.position
        %span.title Freelance
        at
        %span.company Misc.
      %p.dates United Kingdom & Estonia (On-site + Remote) | March 2013 - October 2014 (over 1 year)
      %p.tech
        %span Ruby on Rails
        %span AngularJS
        %span PostgreSQL
        %span Redis
        %span Resque
        %span iOS
        %span Objective-C
        %span Python
      %p.description During this period I worked on a number of short-term projects for multiple companies and a variety of technologies. This included some iOS / Objective-C development for a real estate startup in London as well as web crawling and data processing of apartment listings. The single largest project was a Ruby on Rails / AngularJS inventory management system for event tickets that was capable of syncing inventory between all (7+) major US ticket resellers, which involved everything from SOAP and REST to CSV uploads via FTP and other more obscure setups and a lot of asynchronous workers. The system is currently in production and processing millions of dollars worth of tickets annually.
      %hr

    .job
      %h3.position
        %span.title Front-end / Android Engineer
        at
        %span.company
          %a{href: 'http://www.scopely.com'} Scopely
      %p.dates Los Angeles (On-site + Remote) | January 2012 - March 2013 (over 1 year)
      %p.tech
        %span Android
        %span Java
        %span Javascript
        %span jQuery
        %span Facebook Canvas
      %p.description Started out as their first Android engineer and launched their first Android title Dice With Buddies on Google Play and later on Amazon Appstore. Dice was recognized by Google as one of the best social games of 2012 and has millions of downloads to date. In addition, I built the Facebook canvas version of Dice With Buddies as well as a common Android SDK that was used in all future "With Buddies" brand games.
      %hr

    .job
      %h3.position
        %span.title Software Developer
        at
        %span.company
          %a{href: 'http://www.publification.com'} Publification
      %p.dates Estonia (On-site) | March 2011 - January 2012 (10 months)
      %p.tech
        %span jQuery
        %span TinyMCE
        %span PHP
        %span Zend
        %span Javascript
      %p.description Responsible for creating a browser-based e-book creation platform with rich text editing and multimedia support. Also worked on the browser-based e-book reader at publification.com as well as backend APIs for both services

    %footer
      %p
        Generated from
        %a{href: 'https://github.com/Zanfa/zanfa.github.io'} this repo
    %script{src: '//static.getclicky.com/js'}
    %script try{ clicky.init(100697750); }catch(e){}
