$font-color: #222222;
$secondary-font-color: #A5AAAD;
$bg: #F5F5F5;
$link-color: #2980b9;
$separator-color: #E0E0E0;
$tag-color: #ccd9f1;

html, body {
  background: $bg;
}

h1, h2, h3 {
  font-family: Lato, Helvetica, Sans-Serif;
  font-weight: 300;
  color: $font-color;
}

p {
  font-family: Lato, Helvetica, Arial;
  font-weight: 300;
  font-size: 18px;
}

header {

  padding: 100px 0;

  .name {
    color: $font-color;
    font-size: 80px;
    text-align: center;
  }

  .headline {
    color: $secondary-font-color;
    font-size: 27px;
    text-align: center;
  }

  .contacts {
    display: inline-box;

    text-align: center;
    margin-top: 10px;
    font-size: 16px;

    .contact {
      color: $link-color;
      text-decoration: none;

      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        // Wrap the span to prevent visual glitches
        span {
          text-decoration: underline;
        }
      }

      i {
        color: $font-color;
      }

      span {
        padding-left: 3px;
      }
    }
  }
}

.category {
  text-align: center;
  font-size: 27px;
  display: none;
}

.job {

  margin: 40px auto;
  width: 800px;

  .position {

    font-size: 35px;
    font-weight: 400;

    .title, .company {
      //font-weight: 500;
    }

    .company {
    }
  }

  .dates {
    color: $secondary-font-color;
    margin: 5px 0;
  }

  .description {
    line-height: 130%;
  }

  .tech {
    margin: 5px 0 10px;
    line-height: 140%;

    span {
      background-color: $tag-color;
      padding: 2px 5px;
      border-radius: 4px;
      font-size: 15px;
    }
  }

  // TODO: needs more experimentation
  hr {
    display: none;
    margin: 30px auto;
    width: 200px;
    border: 0;
    height: 1px;
    background: $separator-color;
  }
}

footer {
  margin: 100px 0 40px;
  text-align: center;
}
